

button {
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 13px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

button:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
}

button:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}

/* div {
  background-color: white;
  color: black;
  border-radius: 50%;
  font-size: 13px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 10s ease-in-out;
  border: 2px solid black;
  box-shadow: 0 0 0 0 black;
}

div:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 3px 5px 0 0 black;
}

div:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
} */
a {
  text-decoration: none;
}
form{
  text-align: center;
  padding: 1em;
}

